cscope.files
cscope.out
TAGS
tags
.vscode/
examples/bubsort
examples/cat
examples/cmp
examples/cp
examples/echo
examples/halt
examples/hex-dump
examples/lineup
examples/ls
examples/matmult
examples/mcat
examples/mcp
examples/mkdir
examples/pwd
examples/recursor
examples/rm
examples/shell

examples/**/*.o
examples/**/*.a